# 第2章:Unixコマンド
[popular-names.txt](https://nlp100.github.io/data/popular-names.txt)は，アメリカで生まれた赤ちゃんの「名前」「性別」「人数」「年」をタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，[popular-names.txt](https://nlp100.github.io/data/popular-names.txt)を入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ．

In [19]:
%%capture
!wget c

## 10.行数のカウント
>行数をカウントせよ．確認にはwcコマンドを用いよ

In [20]:
!cat popular-names.txt | wc -l

2780

In [21]:
import pandas as pd

df = pd.read_table('./popular-names.txt', header=None, sep='\t', names=['name', 'sex', 'number', 'year'])
print(len(df))

2780

## 11. タブをスペースに置換
>タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [22]:
!sed -e 's/\t/ /g' ./popular-names.txt | head -n 5

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
sed: couldn't write 19 items to stdout: Broken pipe

## 12. 1列目をcol1.txtに, 2列目をcol2.txtに保存
>各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [23]:
col1 = df['name']
col1.to_csv('./col1.txt', index=False)
print(col1.head())

0         Mary
1         Anna
2         Emma
3    Elizabeth
4       Minnie
Name: name, dtype: object

In [25]:
!cut -f 1 ./popular-names.txt > ./col1_chk.txt
!cat ./col1_chk.txt | head -n 5

Mary
Anna
Emma
Elizabeth
Minnie

In [ ]:
argon2:$argon2id$v=19$m=10240,t=10,p=8$uBhMSpQ2KQEiiHdpr91haw$R+yeFcxo3clnCKyW8p6a1g